body {
    font-family: 'Oxygen', sans-serif;
}

table {
    text-align: right; 
    font-size: .80rem;
    width: 100%; 
}

h3 {
    padding: .20rem; 
    position: absolute; 
    top: 8rem; 
    width: 100%;    
}

p {
    padding: .20rem; 
    margin: 0; 
}

.forecast:hover {
    background-color: black;
    cursor: pointer; 
}

.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

input.invalid {
	border: 2px solid red;
}

input.valid {
	border: 2px solid green;
}

/* .invalid-feedback {
    display: block; 
} */


/* Google Fonts
----
font-family: 'Oxygen', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
---- */