body {
    font-family: 'Oxygen', sans-serif;
}

table {
    text-align: right; 
    font-size: .80rem;
    width: 100%; 
}

.table {
    text-align: left; 
    font-size: .90rem;
    width: 100%;
}

h3 {
    padding: .20rem; 
    position: absolute; 
    top: 8rem; 
    width: 100%;    
}

p {
    padding: .20rem; 
    margin: 0; 
}

.forecast:hover {
    background-color: black;
    cursor: pointer; 
}

.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

input.invalid {
	border: 2px solid red;
}

input.valid {
	border: 2px solid green;
}

.parking-btn,
.trailhead-btn {
    margin: .20rem; 
}

.park-url,
.park-url:hover {
    color: white; 
    text-decoration: none; 
}

.close {
    font-size: 2rem;
}

.badge-td {
    position: relative; 
}

.badge {
    position: absolute; 
    font-size: .20rem; 
    right: 8%; 
    bottom: 8%; 
}


/* Google Fonts
----
font-family: 'Oxygen', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
---- */